@import "identity";

/* La Cure Site specific */
div {
    //border: 1px dotted black;
}

#parallax-bg {
    background-color: $sky;
    background: url("../images/photos/fond1.jpg") center 0 repeat fixed;
    //background-image: url("../images/fond_montagne_travail.jpg");
    //background-position-x: center;
    background-position-y: -100px;
    //background-attachment: fixed;
}


#panorama {
    background-image: url("../images/panorama-accueil.jpg");
    background-color: white;
    background-repeat: no-repeat, repeat;
    background-position: center;
    height: 700px;
}

#entryButton {
}

#enterSite {
        #panneau {
            text-align: center;
            margin: 30px auto 400px auto;
            padding: 10px;
            width: 600px;
            
            background: url("../images/fond_planche2.jpg") center repeat $wood;
            display: block;
            border-radius: emCalc(15px);

            text-shadow: 0px -3px 0px rgba( 0, 0, 0, 0.3);
            box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);

            a{
                color: white;
                font-size: 1.2em;
                &:hover {
                    color: $sky;
                    -webkit-transition:color 0.25s;
                    -moz-transition:color 0.25s;
                    -o-transition:color 0.25s;
                    transition:color 0.25s;
                }
            }
            
            h1{
                color: white;
            }
        }
            
}


.section-container.tabs{
    p{
        background-color:red;
    }
}

h2{
    font-family: "PlaytimeRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
}

h4{
    margin-bottom: emCalc(15px);
    font-family: "PlaytimeRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    text-align: center;
}

.row {
    z-index: 25;

    p {
        //text-align: center;
        padding: 00px 10px 0 30px;
    }

    &.sectionBox{
        background-color: white;
        //background-image: url("../images/texture-rondin2.png"), -webkit-linear-gradient(rgba(53,30,9,0.1), rgba(53,30,9,0.3)), url("../images/background.jpg");
        background-image: url("../images/texture-rondin2.png"), -webkit-linear-gradient(rgba(255,255,255,0.2), rgba(40,10,0,0.4)), url("../images/background.jpg");
        background-image: url("../images/texture-rondin2.png"), -moz-linear-gradient(rgba(255,255,255,0.2), rgba(40,10,0,0.4)), url("../images/background.jpg");
        background-image: url("../images/texture-rondin2.png"), -o-linear-gradient(rgba(255,255,255,0.2), rgba(40,10,0,0.4)), url("../images/background.jpg");
        background-image: url("../images/texture-rondin2.png"), linear-gradient(rgba(255,255,255,0.2), rgba(40,10,0,0.4)), url("../images/background.jpg");
        background-repeat: repeat-y, no-repeat, repeat;
        background-position: 0 50px, 0 0, 0 0;
        
        border-radius: emCalc(10px) emCalc(10px) emCalc(10px) 0;
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);

        padding-left: emCalc(66px);
    }
    
    &.separator{
        height:90px;
        background: url("../images/texture-rondin2.png") repeat-y;
        background-position: 0 128px;
    }

    .row {
        margin: 0;
    }

    &.sectionTitle {
    }

    &.containing{
        padding: 0 0 emCalc(30px) 0;
        ul.padded{
            padding: 0 10px 0 50px;
        }
    }


}



.topBar {
    background: url("../images/fond_planche.jpg") center repeat $wood;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-radius: emCalc(10px);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);

    a:hover {
        color: $sky;
        -webkit-transition:color 0.25s;
        -moz-transition:color 0.25s;
        -o-transition:color 0.25s;
        transition:color 0.25s;
    }

    &.name{
        font-size: emCalc(17px);
    }

    nav, div, ul, a, li {
        background: none !important;
        .dropdown {
            background: url("../images/dropdown-bg.jpg") !important;
            border-radius: emCalc(10px);
            box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
        }
    }

    a{
        text-shadow: 0px -2px 0px rgba( 0, 0, 0, 0.2);
        -webkit-transition:color 0.25s;
        -moz-transition:color 0.25s;
        -o-transition:color 0.25s;
        transition:color 0.25s;
    }

}

a.menuLink{
    opacity: 0;
    display: block;
    position: fixed;
    width: 100px;
    height: 60px;
    top: 0px;
    margin-left: 30px;
    background: black !important;
    z-index: 100;
    text-align: center;
    font-size: 1.2em;
    color: white;
    padding-top: 20px;
    background: url("../images/dropdown-bg.jpg") !important;
    border-radius: emCalc(10px);
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);

    -webkit-transition:opacity 0.5s;
    -moz-transition:opacity 0.5s;
    -o-transition:opacity 0.5s;
    transition:opacity 0.5s;

    &.show{
        display: block;
        opacity: 1;
        -webkit-transition:opacity 0.5s;
        -moz-transition:opacity 0.5s;
        -o-transition:opacity 0.5s;
        transition:opacity 0.5s;
    }

}

.tabs{
    &.section-container{
        margin: 1em 0 1em 0;
    }

    .content{
        border-radius: 0 emCalc(8px) emCalc(8px) emCalc(8px);
        border: none !important;
        box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.2);

        img {
            border-radius: emCalc(5px);
        }
    }

    p{
        border-radius: emCalc(8px) emCalc(8px) 0 0;
        border: none !important;
        a {
            color: grey !important;
            font-weight: bold !important;
        } 
    }
}

.orbit-container{
    border: emCalc(15px) solid white;
    border-radius: 10px;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);

    .orbit-caption{
        color: rgba(30, 30, 30, 1) !important;
        text-align: center !important;
        background-color: rgba(255, 255, 255, 0.4) !important;
        font-size: 0.9em !important;
    }

    a.orbit-prev, a.orbit-next {
        border-radius: 30px;
        background: none;
    }

    a.orbit-prev:hover, a.orbit-next:hover {
        border-radius: 30px;
        background: rgba(0, 0, 0, 0.3);
    }

    .orbit-progress{
        display: none !important;
    }

    .orbit-slide-number{
        display: none !important;
    }
}

#firstRow {
    background: none;
}
    
h2 {
    color: white;
    text-shadow: 0px 3px 1px rgba( 0, 0, 0, 0.2);
}

h3 {
    color: rgba(255, 246, 225, 1);
    font-family: "PlaytimeRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    text-shadow: 0px -2px 2px rgba( 255, 255, 255, 0.5);
}

#accroche {
    margin-top: 20px;
}

.shiftedLeft {
    background-image: url("../images/banderolle2-03.png");
    &.firstBanderolle{
        background-image: url("../images/banderolle2-02.png");
    }

    background-position: left top;
    background-repeat: no-repeat;
    position: relative;
    width: 735px;
    height: 160px;
    left: -128px;
    top: -15px;
    padding-left: 90px;

    h3{
        line-height: 130px;
        margin-left: 40px;
    }
}

.clearing-thumbs {
    list-style: none outside none;
    li {
        float: left;
        margin: 10px;
    }
}


#panorama {
    z-index: 20;
}

.footer {
    background: url("../images/fond-footer.png") repeat-x center;
    height: 344px;
    width: 100%;
    .finRondin{
        background: url("../images/texture-rondin2.png") repeat-y;
        height: 344px;
    }

}


