@import "identity";

/* La Cure Site specific */
div {
    border: 1px dotted black;
}

#parallax-bg {
    background-color: $sky;
    background: url("../images/fond_montagne_travail_p.jpg") center 0 repeat fixed
    //background-image: url("../images/fond_montagne_travail.jpg");
    //background-position-x: center;
    //background-position-y: top;
    //background-attachment: fixed;
}

.section-container.tabs{
    p{
        background-color:red;
    }
}

.row {
    background-color: white;
    p {
        //text-align: center;
        padding: 00px 10px 0 30px;
    }
    &.sectionTitle {
        padding-top: 30px;
    }
}



.topBar {
    background: $wood;
    margin-top: 50px;
    padding: 20px 0 20px 0;
    nav, div, ul, a, li {
        background: none !important;
    }
}

#slogan {
    background: none;
}

.shiftedLeft {
    background-image: url("logo-alsacreations-com.png"), url("soif.jpg");
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: relative;
    left: -60px;
    background: red;
    padding-left: 90px;
}

.clearing-thumbs {
    list-style: none outside none;
    li {
        float: left;
        margin: 10px;
    }
}


#panorama {
    z-index: 20;
}

.row {
    z-index: 25;
}


