@import "identity";

/* La Cure Site specific */
div {
    //border: 1px dotted black;
}

#parallax-bg {
    background-color: $sky;
    background: url("../images/fond_montagne_travail.jpg") center 0 repeat fixed;
    //background-image: url("../images/fond_montagne_travail.jpg");
    //background-position-x: center;
    background-position-y: -100px;
    //background-attachment: fixed;
}

.section-container.tabs{
    p{
        background-color:red;
    }
}

h2{
    font-family: "CopseRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
}

h4{
    font-family: "CopseRegular", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; 
    text-align: center;
}

.row {
    z-index: 25;

    p {
        //text-align: center;
        padding: 00px 10px 0 30px;
    }

    &.sectionBox{
        background-color: white;
        background-image: -webkit-linear-gradient(rgba(53,30,9,0.1), rgba(53,30,9,0.3)), url("../images/background.jpg");
        background-image: -moz-linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.4)), url("../images/background.jpg");
        background-image: -o-linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.4)), url("../images/background.jpg");
        background-image: linear-gradient(rgba(255,255,255,0.2), rgba(0,0,0,0.4)), url("../images/background.jpg");
        background-repeat: no-repeat, repeat;
        
        border-radius: emCalc(10px);
        margin-bottom: emCalc(60px);
    }
    .row {
        margin: 0;
    }

    &.sectionTitle {
        padding-top: 30px;
    }

    &.containing{
        padding: emCalc(20px) 0 0 0;
    }
}



.topBar {
    background: url("../images/fond_planche.png") center repeat-x $wood;
    margin-top: 30px;
    padding: 20px 0 20px 0;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    border-radius: emCalc(10px);

    a:hover {
        color: $sky;
        -webkit-transition:color 0.25s;
        -moz-transition:color 0.25s;
        -o-transition:color 0.25s;
        transition:color 0.25s;
    }

    nav, div, ul, a, li {
        background: none !important;
    }

    a{
        text-shadow: 0px -2px 0px rgba( 0, 0, 0, 0.2);
        -webkit-transition:color 0.25s;
        -moz-transition:color 0.25s;
        -o-transition:color 0.25s;
        transition:color 0.25s;
    }

}

#firstRow {
    background: none;
}

#accroche {
    margin-top: 20px;
}

.shiftedLeft {
    background-image: url("logo-alsacreations-com.png"), url("soif.jpg");
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    position: relative;
    left: -60px;
    background: red;
    padding-left: 90px;
}

.clearing-thumbs {
    list-style: none outside none;
    li {
        float: left;
        margin: 10px;
    }
}


#panorama {
    z-index: 20;
}

.row {
}


