---
title: Gîte de la Cure
---

%div.row#enterSite
  %div#panneau
    %h1= "Auberge de la Cure"
    %a(href="main.html") Entrer sur le site >>

%div.row#entryButtons
  %ul.small-block-grid-7
    %li
      %a(href="http://www.routard.com")
        %img(class="th" src="images/logo-routard.jpg" width="100" height="100")
    %li
      %a(href="http://gites-de-france.com/location-vacances-saint-paul-sur-ubaye-gite-de-sejour-auberge-de-la-cure-04G275111.html")
        %img(class="th" src="images/logo-gdf.jpg" width="100" height="100")
    %li
      %a(href="http://www.gites-refuges.com/v2/detail-1001.htm")
        %img(class="th" src="images/gites-et-refuges.jpg" width="100" height="100")
    %li
      %a(href="http://www.grande-traversee-alpes.com/fr/gta-gr5/a-ne-pas-manquer-gr5/details-poi?id=2613&type=hebergement")
        %img(class="th" src="images/grande-traverse-des-alpes.jpg" width="100" height="100")
    %li
      %a(href="http://www.via-alpina.org/fr/page/1/la-via-alpina")
        %img(class="th" src="images/via-alpina.jpg" width="100" height="100")
    %li
      %a(href="http://www.panoramio.com/photo/46924363")
        %img(class="th" src="images/panoramio.jpg" width="100" height="100")
    %li
      %a(href="http://www.facebook.com/pages/malasset-gite-auberge-de-la-cure/110646842329128")
        %img(class="th" src="images/facebook.jpg" width="100" height="100")
